<md-toolbar color="primary">
    <button md-icon-button type="button" (click)="openSidenav()">
        <md-icon>menu</md-icon>
    </button>

    <span class="toolbar-title" [routerLink]="['/']">Lego Hub</span>
    <span class="spacer"></span>

    <button md-icon-button type="button" [routerLink]="[{ outlets: { popup: ['search'] } }]">
        <md-icon>search</md-icon>
    </button>

    <button md-icon-button type="button" [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="signInUser()">
            <md-icon>perm_identity</md-icon>
            <span>Login</span>
        </button>
        <button md-menu-item (click)="signOutUser()">
            <md-icon>perm_identity</md-icon>
            <span>Logout</span>
        </button>
        <button md-menu-item [routerLink]="['/settings']">
            <md-icon>settings</md-icon>
            <span>Settings</span>
        </button>
        <button md-menu-item>
            <md-icon>tag_faces</md-icon>
            <span>About</span>
        </button>
    </md-menu>

    <md-toolbar-row>
        <span class="toolbar-title">Themes</span>
        <span class="toolbar-title">Videos</span>
        <span class="toolbar-title">Pins</span>
    </md-toolbar-row>
</md-toolbar>