<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <form class="login-form">
                <p>
                    <md-input-container class="full-width">
                        <input md-input placeholder="Address">1600 Amphitheatre Pkwy</input>
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input md-input placeholder="Address 2"></input>
                    </md-input-container>
                </p>
                <div class="button-row">
                    <button md-button>Cancel</button>
                    <button md-button>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>