<div class="button-row">
    <!--<button md-raised-button [mdMenuTriggerFor]="sortMenu">Sort By</button>
    <md-menu #sortMenu="mdMenu">
        <button md-menu-item *ngFor="let criteria of sortCriterias | async">
            <span>{{criteria.title}}</span>
        </button>
    </md-menu>-->

    <md-select placeholder="Sort By" [(ngModel)]="selectedCriteria" (change)="sortChange()">
        <md-option *ngFor="let criteria of sortCriterias | async" [value]="criteria.value">{{criteria.title}}</md-option>
    </md-select>

    <button md-raised-button (click)="openFilter()">Filter</button>
</div>

<md-card>
    <md-chip-list>
        <md-chip color="accent" selected="true" *ngFor="let theme of selectedThemes">
            {{theme.theme}}
            <button md-icon-button type="button" class="mini-button">
                <md-icon>cancel</md-icon>
            </button>
        </md-chip>
        <md-chip color="accent" selected="true" *ngFor="let subtheme of selectedSubthemes"> {{subtheme.subtheme}}
            <button md-icon-button type="button" class="mini-button">
                <md-icon>cancel</md-icon>
            </button>
        </md-chip>
        <md-chip color="accent" selected="true" *ngFor="let year of selectedYears"> {{year.year}}
            <button md-icon-button type="button" class="mini-button">
                <md-icon>cancel</md-icon>
            </button>
        </md-chip>
    </md-chip-list>
</md-card>

<set-card *ngFor="let set of sets | async" [set]="set" [routerLink]="['./',set.setID]" [preserveQueryParams]="true"></set-card>

<button id="loadMoreBtn" md-raised-button (click)="loadMore()" [class.show]="showMore | async" class="full-width">Load more</button>
<md-spinner [class.show]="loading | async"></md-spinner>

<router-outlet></router-outlet>