# Build result and npm
LegoHub.Data/bin/
LegoHub.Data/obj/
LegoHub.WebApp/node_modules/
LegoHub.WebApp/dist/
LegoHub.WebApp/compiled/
LegoHub.WebApi/bin/
LegoHub.WebApi/obj/
LegoHub.WebApi/wwwroot/
LegoHub.WebApi/AppData/
LegoHub.WebApi/Properties/PublishProfiles/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Visual Studio 2015 settings folder
.vs/
.vscode/
