# Build result and npm
src/MyBrickset.Data/bin/
src/MyBrickset.Data/obj/
src/MyBrickset.WebApp/node_modules/
src/MyBrickset.WebApp/dist/
src/MyBrickset.WebApi/bin/
src/MyBrickset.WebApi/obj/
src/MyBrickset.WebApi/wwwroot/dist/
src/MyBrickset.WebApi/Properties/PublishProfiles/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Visual Studio 2015 settings folder
.vs/
.vscode/
