<div class="main-content">
    <div class="button-row">
        <button md-raised-button (click)="openSortPanel()">Sort By</button>

        <button md-raised-button (click)="openFilterPanel()">Filter</button>
    </div>

    <div class="tag-container">
        <md-chip-list>
            <md-chip class="md-tag" color="accent" selected="true" *ngFor="let theme of selectedThemes">
                {{theme.theme}}
                <button md-icon-button type="button" class="md-tag-close-button">
                <md-icon>cancel</md-icon>
            </button>
            </md-chip>
            <md-chip class="md-tag" color="accent" selected="true" *ngFor="let subtheme of selectedSubthemes"> {{subtheme.subtheme}}
                <button md-icon-button type="button" class="md-tag-close-button">
                <md-icon>cancel</md-icon>
            </button>
            </md-chip>
            <md-chip class="md-tag" color="accent" selected="true" *ngFor="let year of selectedYears"> {{year.year}}
                <button md-icon-button type="button" class="md-tag-close-button">
                <md-icon>cancel</md-icon>
            </button>
            </md-chip>
        </md-chip-list>
    </div>

    <masonry [useImagesLoaded]="true">
        <masonry-brick class="brick" *ngFor="let set of sets;trackBy: trackBySetID">
            <set-card [set]="set" [routerLink]="['./',set.setID]" [preserveQueryParams]="true"></set-card>
        </masonry-brick>
    </masonry>

    <button id="loadMoreBtn" md-raised-button (click)="loadMore()" [class.show]="showMore" class="full-width">Load more</button>
    <md-spinner [class.show]="loading"></md-spinner>

    <router-outlet></router-outlet>
</div>