<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div>
                <button md-icon-button type="button">
                    <md-icon>arrow_back</md-icon>
                </button>
                <md-input-container class="full-width">
                    <input md-input placeholder="Search" />
                </md-input-container>
                <button md-icon-button type="button">
                    <md-icon>cancel</md-icon>
                </button>
            </div>
        </div>
    </div>
</div>