<div>
    <h1>Setting image for theme</h1>
    <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div>
            <md-input-container *ngFor="let cat of categories | async;trackBy: trackByTheme" [formGroup]="form">
                <input mdInput type="text" [placeholder]="cat.theme" [id]="cat.theme" [formControlName]="cat.theme">
            </md-input-container>
        </div>
        <div>
            <button type="submit" md-raised-button>Save</button>
        </div>
    </form>
</div>