<div class="modal">
    <!-- Modal content -->
    <div class="modal-content right-animation">
        <md-toolbar>
            <button md-icon-button type="button" (click)="goBack()">
                <md-icon>arrow_back</md-icon>
            </button>
            <span>Filter</span>
            <span class="spacer"></span>

            <button md-icon-button type="button" (click)="clearFilter()">
                <md-icon>clear</md-icon>
            </button>

            <button md-icon-button type="button" (click)="applyFilter()">
                <md-icon>done</md-icon>
            </button>
        </md-toolbar>

        <div class="filter-row" [routerLink]="['theme']" [preserveQueryParams]="true">
            <span>Themes</span>
            <span class="spacer"></span>
            <button md-icon-button type="button">
                <md-icon>chevron_right</md-icon>
            </button>
        </div>
        <div>
            <md-chip-list>
                <md-chip color="accent" selected="true" *ngFor="let theme of selectedThemes | async; trackBy: trackByTheme">
                    {{theme.theme}}
                    <button md-icon-button type="button" class="mini-button">
                        <md-icon>cancel</md-icon>
                    </button>
                </md-chip>
            </md-chip-list>
        </div>
        <div class="filter-row" [routerLink]="['subtheme']" [preserveQueryParams]="true">
            <span>Subthemes</span>
            <span class="spacer"></span>
            <button md-icon-button type="button">
                <md-icon>chevron_right</md-icon>
            </button>
        </div>
        <div>
            <md-chip-list>
                <md-chip color="accent" selected="true" *ngFor="let subtheme of selectedSubthemes | async; trackBy: trackBySubtheme">
                    {{subtheme.subtheme}}
                    <button md-icon-button type="button" class="mini-button">
                        <md-icon>cancel</md-icon>
                    </button>
                </md-chip>
            </md-chip-list>
        </div>
        <div class="filter-row" [routerLink]="['year']" [preserveQueryParams]="true">
            <span>Years</span>
            <span class="spacer"></span>
            <button md-icon-button type="button">
                <md-icon>chevron_right</md-icon>
            </button>
        </div>
        <div>
            <md-chip-list>
                <md-chip color="accent" selected="true" *ngFor="let year of selectedYears | async; trackBy: trackByYear">
                    {{year.year}}
                    <button md-icon-button type="button" class="mini-button">
                        <md-icon>cancel</md-icon>
                    </button>
                </md-chip>
            </md-chip-list>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>