<div>
    <masonry [useImagesLoaded]="true">
        <masonry-brick class="brick" *ngFor="let cat of categories | async;trackBy: trackByTheme">
            <div class="card-container">
                <md-card [routerLink]="['/sets']" [queryParams]="{themes: cat.theme, years: 2017}">
                    <img md-card-image *ngIf="cat.image" [src]="cat.image">
                    <md-card-title>{{cat.theme}}</md-card-title>
                </md-card>
            </div>
        </masonry-brick>
    </masonry>
</div>